 <article class="card layeredBox">
     <h3>Project name: {{ project.title }}</h3>
     <p>Posted: {{ project.date_posted }} By: {{ project.manager.username }}</p>
     <p>{{ project.description }}</p>
     <p class="cardLinks">
         {% if project.hosted_url: %}
            <a href="{{ project.hosted_url }}" target='_blank' class="card_links">Hosted project</a>
            {% else: %}
            No link to hosted project
            {% endif %}
            -----
            <a href="{{ project.repo_url }}" target='_blank' class="card_links">Project repo</a>
            -----
            <a href="{{ url_for('project_page', project_id=project.id) }}" class="card_links">Project and Bugs</a>
     </p>
    </article>