{% extends "base.html" %}
{% block content %}
<div class="container">
     <div class="card layeredBox">
         <h3 style="margin-left: 1rem;">Current Roles</h3>
     </div>
    {% for role in current_roles: %}
      <div class="card layeredBox">
            <p style="margin-left: 1rem;">Member Name: {{ role.user.username }}
              <br/>
              <br/>
                {{ role.user.user_bio }}
                <br/>
              <br/>
              Role: {{ role.role.name }}
          </p>
          {% if perm_to_delete and role.role.name != "admin" or is_manager: %}
              <a href="{{ url_for('delete_user_role', role_id=role.id, action='remove') }}" style="margin-left: 1rem;">Remove Member</a>
             <br/>
          <br/>
          {% endif %}
      </div>
    {% endfor %}
    {% if perm_to_delete: %}
      <div class="card layeredBox">
         <h3 style="margin-left: 1rem;">Pending Roles</h3>
     </div>
     {% for role in pending_roles: %}
      <div class="card layeredBox">
          <p style="margin-left: 1rem;">Member Name: {{ role.user.username }}
              <br/>
              <br/>
                  {{ role.user.user_bio }}
              <br/>
              <br/>
              Role: {{ role.role.name }}
          </p>
          {% if role.role.name != "admin" or is_manager: %}
              <a href="{{ url_for('delete_user_role', role_id=role.id, action='remove') }}" style="margin-left: 1rem;">Cancel Invite</a>
            <br/>
          <br/>
          {% endif %}
      </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}